@import '~antd/dist/antd.css';
.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#core {
    fill: #ff4f81;
    animation: pulse1 1.5s ease-in-out infinite;
}

#radar {
    fill: rgba(#ff4f81, .5);
    animation: pulse2 1.5s ease-in-out infinite;
}

@keyframes pulse1 {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    30% {
        opacity: 1;
        transform: scale(1.5);
    }
    60% {
        opacity: 1;
        transform: scale(2);
    }
    100% {
        opacity: 0;
        transform: scale(2);
    }
}

@keyframes pulse2 {
    0% {
        transform: scale(1, 1);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(6, 6);
        opacity: 0;
    }
}